.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh);
  position: relative;
  overflow: hidden;
}

.overlay-content {
  text-align: center;
  color: rgb(36, 15, 221);
  max-width: 800px;
  padding: 20px;
  border-radius: 10px;
}

h1,
h2,
p {
  margin: 0;
  color: #fff;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

p {
  font-size: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.apply-button,
.discord-button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  color: #fff;
  /* background-color: #673ab7; */
  background: #aa00d5;
  background: -webkit-linear-gradient(to left, #aa00d5, #3e1177);

  background: linear-gradient(to left, #aa00d5, #3e1177);
}

.dc-icon {
  transition: transform 0.4s ease-in-out;
  padding-right: 7px;
  transform: rotate(360deg);
}

.tick-icon,
.dcIcon {
  padding-right: 7px;
}
