.navbar {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;
  opacity: 1;
  transition: background-color 0.5s ease, opacity 0.5s ease;
}

.navbar.scrolled {
  background-color: rgb(160, 119, 207);
  opacity: 1; 
  height: 20px;
}

.logo img {
  width: 60px;
  height: 60px;
}

.menu ul {
  list-style: none;
  display: flex;
}

.menu li {
  margin-right: 20px;
}

.menu a {
  text-decoration: none;
  color: #ffffff;
  /* White */
}

/* Media Query for Responsive Design */
@media screen and (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
  }

  .menu.show {
    display: flex;
  }

  .menu ul {
    flex-direction: column;
  }

  .menu li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}